# [submodule "ampapi-typescript"]
# 	active = true
# 	path = lib/discord/modules/serverUtils/utils/ampapi-typescript
# 	url = git@github.com:p0t4t0sandwich/ampapi-typescript.git

# eval "$(ssh-agent -s)"
# ssh-add ~/.ssh/id_github
[submodule "lib/discord/modules/serverUtils/utils/ampapi-typescript"]
	path = lib/discord/modules/serverUtils/utils/ampapi-typescript
	url = https://github.com/p0t4t0sandwich/ampapi-typescript.git
